.videoFooter {
  position: relative;
  bottom: 150px;
  margin-left: 40px;
  color: white;
  display: flex;
}
.videoFooter__text > p {
  padding-bottom: 20px;
}
.videoFooter__record {
  animation: spinTheRecord infinite 5s linear;
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 20px;
}
.videoFooter__text {
  flex: 1;
}
.videoFooter__text > h2 {
  padding-bottom: 20px;
  color: brown;
}
.videoFooter__icon {
  position: absolute;
}
.videoFooter__ticker > .ticker {
  height: fit-content;
  margin-left: 30px;
  width: 60%;
  color: palevioletred;
}
.videoFooter__ticker p {
  padding-top: 7px;
  color: red;
}
@keyframes spinTheRecord {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
